body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FEDCC8;
    background-size: cover;
    margin-top: 40px;
}

.container {
    flex: 1;
}

.footer {
    text-align: center;
    margin: 25px 0;
    font-size: smaller;
    text-transform: capitalize;
    color: grey;
    background-color: #2D112B;
    z-index: 3;
}

.article {
    text-align: center;
}

#contact {
    margin-top: 60px;
    flex: 1;
}

#map {
    width: 50%;
    height: 85vh;
    float: left;
}

#info {
    width: 50%;
    float: left;
    height: 85vh;
}

img {
    width: 500px;
    height: auto;
}

/*MASTER HOME.HTML */

.greetingContainer{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 125px;
    background-color: #5eb5e0;
    border-radius: 15px;
}
.greetingContainer:hover{
    box-shadow: #AAAAAA 5px 5px;
}

.greeting{
    color: #f1f2f3;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
/*ARTICLES INDEX.HTML TABLE*/

.tagColumn {
    width: 100px;
    text-transform: capitalize;
}

.indexButton,
.indexButton:visited,
.indexButton:hover {
    color: #f1f2f3;
    text-decoration: none;

}

/* SHOW.HTML TABLE*/

.editButtonShow,
.editButtonShow:visited,
.editButtonShow:hover {
    color: #f1f2f3;
    text-decoration: none;
}

#error {
    height: 100vh;
    margin: auto 0;
    text-align: center;
    overflow: hidden;
    font-size: 5vh;

}

#error a {
    color: red;
    text-decoration-line: underline;
}

#error h1 {
    margin-top: 20px;
    font-size: 8vh;
    font-weight: 700;
}

@media only screen and (min-width: 1000px) {
    #error {
        background-image: url("../assets/error.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    #error p {
        width: 90%;
        margin: 60vh auto 0 auto;
    }
}

#view-selector table {
    width: 33%;
    float: left;
}

#timeline, #pageView {
    width: 33%;
    float: left;
}

.logo {
    width: 60px;
}

.menu {
    /*background-color: #FFF;*/
}

.layer{
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    margin-top: 55vh;
    margin-left: -30vw;
}

#layer0{
    background: url(/assets/parallax/0.png)no-repeat;
}

#layer1{
    background: url(/assets/parallax/1.png)no-repeat;
}

#layer2{
    background: url(/assets/parallax/2.png)no-repeat;
}

#layer3{
    background: url(/assets/parallax/3.png)no-repeat;
}

#layer4{
    background: url(/assets/parallax/4.png)no-repeat;
}

#layer5{
    background: url(/assets/parallax/5.png)no-repeat;
}

#layer6{
    background: url(/assets/parallax/6.png)no-repeat;
}

#parallax_cover {
    background-color: #2D112B;
    margin-top: 100vh;
    height: 200%;
    width: 200%;
    position: fixed;
    margin-left: -500px;
    top: 0;
    left: 0;
}

.parallax {
    height: 200%;
}

#wrapper {
    margin-top: 100vh;
    background-color: #2D112B;
    color: white;
    z-index: 2;
    height: 200%;
}