html, body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    margin-top: 60px;
    flex: 1;
}

.footer {
    text-align: center;
    margin: 25px 0;
    font-size: smaller;
    text-transform: capitalize;
    color: grey;
}

.article {
    text-align: center;
}

#contact {
    margin-top: 60px;
    flex: 1;
}

#map {
    background-color: blue;
    width: 50%;
    height: 80vh;
    float: left;
}

#info {
    background-color: green;
    width: 50%;
    float: left;
    height: 80vh;
}

img {
    width: 500px;
    height: auto;
}

/*MASTER HOME.HTML */

.greetingContainer{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 125px;
    background-color: #5eb5e0;
    border-radius: 15px;
}
.greetingContainer:hover{
    box-shadow: #AAAAAA 5px 5px;
}

.greeting{
    color: #f1f2f3;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
/*ARTICLES INDEX.HTML TABLE*/

.tagColumn {
    width: 100px;
    text-transform: capitalize;
}

.indexButton,
.indexButton:visited,
.indexButton:hover {
    color: #f1f2f3;
    text-decoration: none;

}

/* SHOW.HTML TABLE*/

.editButtonShow,
.editButtonShow:visited,
.editButtonShow:hover {
    color: #f1f2f3;
    text-decoration: none;
}
