body {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    background-color: #2D112B;
    margin-top: 40px;
}

.containers {
    margin-top: 60px;
    flex: 1;
    color: #FEDCC8;
}

.containers a {
    color: #FD9862;
}

.containers a:hover {
    color: #FF6C40;
    text-decoration: none;
}

.search {
    --ease: all 300ms ease;

    border-color: #FEDCC8;
    color: #FEDCC8;
    transition: var(--ease);
}

.search.fade-in {
    border-color: #2D112B;
    color: #2D112B;
}

.search:hover {
    border-color: #FD9862;
    color: #FD9862;
    background-color: rgba(0, 0, 0, 0);
}

.footer {
    text-align: center;
    padding: 25px 0;
    font-size: smaller;
    text-transform: capitalize;
    color: grey;
    background-color: #2D112B;
    z-index: 3;
}

.article_image {
    width: 50%;
    height: auto;
}

.article {
    text-align: center;
    /*max-height: 40vh;*/
    /*margin: 5px;*/
    border-radius: 15px;
    padding: 50px 0;
    background-color: rgba(85, 0, 49, 0.5);
}

.article_wrapper {
    padding-bottom: 5vh;
}

.solo_article {
    margin: 5vh;
    padding: 50px 0;
}

.text h1 {
    text-align: center;
    color: #CA293E;
}

.article:hover {
    box-shadow: 5px 5px 10px 10px rgb(85, 0, 49);
}

#map {
    width: 50%;
    height: 80vh;
    float: left;
}

#info {
    width: 50%;
    float: left;
    height: 80vh;
    color: #FEDCC8;
    padding-left: 15%;
    padding-top: 15%;
}

/*MASTER HOME.HTML */

.greetingContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 125px;
    background-color: #5eb5e0;
    border-radius: 15px;
}

.greetingContainer:hover {
    box-shadow: #AAAAAA 5px 5px;
}

.greeting {
    color: #f1f2f3;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*ARTICLES INDEX.HTML TABLE*/

.tagColumn {
    width: 100px;
    text-transform: capitalize;
}

.indexButton,
.indexButton:visited,
.indexButton:hover {
    color: #f1f2f3;
    text-decoration: none;

}

/* SHOW.HTML TABLE*/

.editButtonShow,
.editButtonShow:visited, >
.editButtonShow:hover {
    color: #f1f2f3;
    text-decoration: none;
}

#error {
    height: 100vh;
    margin: auto 0;
    text-align: center;
    overflow: hidden;
    font-size: 5vh;

}

#error a {
    color: red;
    text-decoration-line: underline;
}

#error h1 {
    margin-top: 20px;
    font-size: 8vh;
    font-weight: 700;
}

#view-selector table {
    width: 33%;
    float: left;
}

#timeline, #pageView {
    width: 33%;
    float: left;
}

.logo {
    height: 60px;
}

.logo.hide {
    display: none;
}

.navbar {
    height: 60px;
    margin-top: 20px;
}

.change {
    --ease: all 300ms ease;

    color: #FEDCC8;
    transition: var(--ease);
}

.change.fade-in {
    color: #2D112B;
}

.change:hover {
    color: #FD9862;
}

.dropdown-item {
    color: #2D112B;
}

#logo img {
    width: 20vw;
    margin-left: 40vw;
    margin-top: 5vh;
}

.layer {
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    margin-top: 5vh;
}

.layer img {
    /*background: url(/assets/parallax/matterhorn0.png) no-repeat;*/
    width: 100vw;
}

#parallax_cover {
    background-color: #2D112B;
    margin-top: 100vh;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.parallax {
    background-color: #FEDCC8;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin-top: -40px;
}

#wrapper {
    margin-top: 100vh;
    background-color: #2D112B;
    color: white;
    z-index: 2;
    height: 100%;
    padding: 50px;
}

#intro {
    text-align: center;
}

.articles {
    margin: 60px 0;
    padding: 0 50px;
}

.aboutMe {
    width: 80vw;
    margin-left: 10vw;
    background-color: #560031;
}

#latest {
    width: 50vw;
    margin-left: 25vw;
}

#latest a {
    color: #FD9862;
}

#latest a:hover {
    color: #FF6C40;
}

#profilePic {
    width: 50%;
    float: left;
    padding: 7%;
}

#profilePic img {
    width: 100%;
}

#aboutText {
    width: 50%;
    padding: 8%;
    float: left;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon.scroll{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

#header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.image, .text{
    width: 30vw;
    padding-left: 10vw;

}

@media only screen and (max-width: 700px) {
    .layer img {
        width: 200vw;
        margin-left: -60vw;
    }

    #parallax_cover {
        margin-top: 150%;
    }
}

@media only screen and (min-width: 1000px) {
    #error {
        background-image: url("../assets/error.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    #error p {
        width: 90%;
        margin: 60vh auto 0 auto;
    }
}

@media only screen and (max-width: 1000px) {
    #info {
        width: 100%;
        float: none;
        height: 50%;
    }

    #map {
        display: none;
    }

    #aboutText {
        width: 100%;
        float: none;
    }

    #profilePic {
        width: 100%;
        float: none;
    }

    #profilePic img {
        width: 40%;
        margin-left: 30%;
        margin-bottom: -10%;
    }

    .image {
        width: 100%;
    }

    .text {
        width: 60vw;
        margin-left: 10vw;
    }
}

@media only screen and (max-width: 1200px) {
    .layer img {
        width: 300vw;
        margin-left: -100vw;
        /*margin-top: -40vh;*/
    }
}