{% extends 'adminBase.html.twig' %}

{% block title %}Hello MasterController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hello {{ controller_name }}!</h1>
        <h3>Amount of articles: {{ articles }}</h3>
    </div>
{% endblock %}