{% extends 'adminBase.html.twig' %}

{% block title %}Edit Articles{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Articles</h1>

        {{ include('articles/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('articles/_delete_form.html.twig') }}
    </div>
{% endblock %}
