{% extends 'adminBase.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}
    <div class="containers">
        <h1>Create new Articles</h1>

        {{ include('articles/_form.html.twig') }}

    </div>
{% endblock %}
