{% extends 'clientBase.html.twig' %}
{% block analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WS0ZWE4MQ0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WS0ZWE4MQ0', {
            'page_title' : 'About me',
            'page_path': '/about-me'
        });
    </script>
{% endblock %}
{% block title %}About me{% endblock %}

{% block body %}
<div class="container">
    <h1>Hello {{ controller_name }}!</h1>
</div>
{% endblock %}
