{% extends 'clientBase.html.twig' %}
{% block analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-183904782-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-183904782-1', {
            'page_title' : 'Home',
            'page_path': '/'
        });
    </script>
{% endblock %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <div class="greetingContainer">
    <h1 class="greeting">Hello {{ controller_name }}!</h1>
    </div>
</div>
{% endblock %}
