{% extends 'clientBase.html.twig' %}
{% block analytics %}
    {% if chcookieconsent_isCategoryAllowedByUser('analytics') == true %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-183904782-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-183904782-1', {
            'page_title' : 'Home',
            'page_path': '/'
        });
    </script>
    {% endif %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="parallax">
        <div id="layer0" class="layer"></div>
        <div id="layer1" class="layer"></div>
        <div id="layer2" class="layer"></div>
        <div id="layer3" class="layer"></div>
        <div id="layer4" class="layer"></div>
        <div id="layer5" class="layer"></div>
        <div id="layer6" class="layer"></div>
        <div id="parallax_cover"></div>
    </div>
    <div id="wrapper" class="container">
        <div id="intro">
            Welcome to my site
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
    <script src="/js/parallax.js"></script>
{% endblock %}
