{% extends 'clientBase.html.twig' %}

{% block title %}Hello MasterController!{% endblock %}

{% block body %}
<div class="container">
    <div class="greetingContainer">
    <h1 class="greeting">Hello {{ controller_name }}!</h1>
    </div>
</div>
{% endblock %}
