{% extends 'clientBase.html.twig' %}
{% block analytics %}
    {% if chcookieconsent_isCategoryAllowedByUser('analytics') == true %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-183904782-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-183904782-1', {
            'page_title' : 'Home',
            'page_path': '/'
        });
    </script>
    {% endif %}
{% endblock %}
{% block title %}Home{% endblock %}

{% block body %}
    <div class="parallax">
        <div class="parallax__layer parallax__layer__0">
            <img src="/assets/parallax/0.png" />
        </div>
        <div class="parallax__layer parallax__layer__1">
            <img src="/assets/parallax/1.png" />
        </div>
        <div class="parallax__layer parallax__layer__2">
            <img src="/assets/parallax/2.png" />
        </div>
        <div class="parallax__layer parallax__layer__3">
            <img src="/assets/parallax/3.png" />
        </div>
        <div class="parallax__layer parallax__layer__4">
            <img src="/assets/parallax/4.png" />
        </div>
        <div class="parallax__layer parallax__layer__5">
            <img src="/assets/parallax/5.png" />
        </div>
        <div class="parallax__layer parallax__layer__6">
            <img src="/assets/parallax/6.png" />
        </div>
        <div class="parallax__cover"></div>
    </div>
{% endblock %}
